html{
    scroll-behavior: smooth;
}
*,
:after,
:before {
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 1px;
  color: #000;
  font-weight: 400;
}
ul{
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 600;
}
.color-grey{
    color: rgba(0, 0, 0, 0.4);
}
header .bg-dark{
    background-color: #fff !important;
    padding: 0 1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
header .nav-link{
    color: #000;
    font-size: 14px;
    padding: 25px 12px;
}
header  span.time{
    font-size: 11px;
    display: block;
    padding: 0 10px;
    margin-top: -25px;
}
.nav-link:focus, .nav-link:hover {
    color: #0B5AA5;
}
.navbar-nav .dropdown-menu{
    border-radius: 10px;
    padding: 0;
    margin: 0;
}
.dropdown-item{
    padding: 5px 10px;
    font-size: 14px;
}
.dropdown-item:hover, .dropdown-item.active, .dropdown-item:active{
    color: #fff;
    background-color:#0B5AA5 ;
}
.dropdown-menu li:first-child a{
    border-radius: 8px 8px 0 0;
}
.dropdown-menu li:last-child a{
    border-radius: 0 0 8px 8px ;
}
.start-btn{
    color: #fff;
    background: #0E5293;
    background: linear-gradient(280deg,rgba(14, 82, 147, 1) 0%, rgba(40, 118, 193, 1) 100%);
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    border-radius: 10px;
    margin-left: 30px;
}
.navbar-toggler {
    width: 50px;
    height: 50px;
    padding: 0;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    flex-shrink: 0;
    background: #ccc;
}

.navbar-toggler:focus {
    box-shadow: none;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    color:#0B5AA5;
}

.sticky{
    background: #fff;
    position: fixed;
    width: 100%;
    top: -100px;
    left: 0;
    right: 0;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    z-index: 999;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
    border: none;
}
header.sticky .bg-dark{
    border: none;
}

.desktop-hidden{
    display: none;
}
.mobile-hidden{
    display: block;
}


.btn{
    font-size: 14px;
}

.search-bar {
    box-shadow: 0 4px 10px 0px rgb(0 0 0 / 8%);
    -webkit-box-shadow: 0 4px 10px 0px rgb(0 0 0 / 8%);
    -moz-box-shadow: 0 4px 10px 0px rgb(0 0 0 / 8%);
}
.form-control {
    border: 2px solid rgba(0, 0, 0, 0.2);
    padding: 12px 15px;
    height: 50px;
    color: #000;
    font-weight: 500;
    font-size: 14px;
}
.form-control:focus{
    border: 2px #0E5293 solid;
    box-shadow: none;   
}
.search-wrapper {
    position: relative;
    display: inline-flex;
    align-items: center;
    width: 100%;
}

.search-btn {
    position: absolute;
    right: 10px;
    border: none;
    cursor: pointer;
    background: #000;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    transition: 0.5s;
}
.search-wrapper:focus-within .search-btn {
    background-color: #0E5293;
    transform: scale(1.1);
}
.close-btn {
    position: absolute;
    right: 50px;
    background: none !important;
    border: none;
    width: auto !important;
}



select.form-select {
    font-size: 14px;
    height: 50px;
    box-shadow: none;
    background: url(../img/arrow-down.svg) center right 10px no-repeat;
    border: 1px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.5s;
    padding: .375rem 1.25rem .375rem .75rem;
}

select.form-select:hover, select.form-select:focus{
    border: 1px #0B5AA5 solid;
    box-shadow: none;
    background: #F3F7FA url(../img/arrow-down-blue.svg) center right 10px no-repeat;
    color: #0B5AA5;
}

.filter{
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-image:none;
}
.filter:hover, .filter:focus{
    border: 1px #0B5AA5 solid;
    background: #F3F7FA;
    color: #0B5AA5;
}
.filter svg path{
    fill: #000;
    transition: 0.5s;
}
.filter:hover svg path, .filter:focus svg path{
    fill: #0B5AA5;
}
button:last-child{
    font-weight: 500;
}

select.sort-by{
    border: none;
    color: #0B5AA5;
    background: url(../img/arrow-down-blue.svg) center right 10px no-repeat;
    width: auto;
    padding-right: 2em !important;
}
select.sort-by:hover, select.sort-by:focus{
    border: none;
    background: url(../img/arrow-down-blue.svg) center right 10px no-repeat;
}

.card {
    border-radius: 15px;
    border: none;
    box-shadow: -1px -1px 10px 0px rgba(0,0,0,0.10);
    -webkit-box-shadow: -1px -1px 10px 0px rgba(0,0,0,0.10);
    -moz-box-shadow: -1px -1px 10px 0px rgba(0,0,0,0.10);
    border-radius: 15px;
    overflow: hidden;
    transition: 0.5s;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}



.heading {
    position: absolute;
    top: 5px;
    z-index: 9;
    width: 100%;
    padding: 10px;
}

.heading p {
    background: #fff;
    padding: 8px 16px;
    font-weight: 500;
    line-height: 1;
}
.heart-icon {
    fill: rgb(0, 0, 0);
    transition: transform 0.3s, fill 0.3s;
    cursor: pointer;
}

.heart-icon.active path {
    fill: #f00;
}
.heading svg {
    transform-origin: center;
    width: 40px;
}
.heading svg:hover {
    animation: pulse 1.2s infinite ease-in-out;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.swiper-button-next,
.swiper-button-prev {
    background: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    opacity: 0;
    transition: 0.5s;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 18px;
    color: #000000;
    font-weight: 700;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled, 
.card:hover .swiper-button-next.swiper-button-disabled,
.card:hover .swiper-button-prev.swiper-button-disabled, .swiper-pagination {
    opacity: 0;
}
.card:hover .swiper-button-next,
.card:hover  .swiper-button-prev, .card:hover .swiper-pagination{
    opacity: 1;
}
.swiper-pagination {
    padding: 5px;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 0.5em;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    background: #fff;
    opacity: 0.5;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet-active {
    opacity: 1;
}

.house-sale {
    border: 1px #000 solid;
}

.house-sale span {
    width: 12px;
    height: 12px;
    background: green;
}

.amount{
    font-size: 16px;
}
.amount,
.house-d strong {
    font-weight: 600;
    color: #0B5AA5;
}
.card p{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.7);
}
.card p strong{
    color: #000;
}
.house-d span {
    font-size: 11px;
    padding-left: 3px;
    color: rgba(0, 0, 0, 0.5);
}
.caption{
    padding:0 15px;
}
.caption > p:first-of-type {
    font-weight: 500;
}
.caption p:last-child{
    color: rgba(0, 0, 0, 0.5);
}
.house-d span strong {
    font-size: 14px;
}
.card:hover{
    box-shadow: -1px -1px 15px 0px rgba(0,0,0,0.30);
    -webkit-box-shadow: -1px -1px 15px 0px rgba(0,0,0,0.30);
    -moz-box-shadow: -1px -1px 15px 0px rgba(0,0,0,0.30);
    transition: 0.5;
}

.map-s {
    position: -webkit-sticky;
    position: sticky;
    top: 70px;
    z-index: 99;
    background-color: #fff;
    height: 100vh; 
    overflow: hidden;
}
@media only screen and (min-device-width:1536px) and (max-device-width:2560px) {
    body{
        font-size: 16px;
    }
    .btn{
        font-size: 16px;
    }
    h5{
        font-size: 24px;
    }
    header .nav-link{
        font-size: 17px;
    }
    header span.time{
        font-size: 13px;
    }
    .form-control {
        border: 2px solid rgba(0, 0, 0, 0.2);
        font-size: 17px;
        height: 60px;
    }
    
    .search-btn {
        right: 15px;
        width: 35px;
        height: 35px;
    }
    .search-btn img {
        width: 16px;
    }
    select.form-select{
        font-size: 17px;
        height: 60px;
    }
    .caption{
        padding:0 25px;
    }
    .heading p {
        padding: 10px 18px;
    }
    .card p{
        font-size: 16px;
    }
    .amount {
        font-size: 22px;
    }
    .house-d span {
        font-size: 16px;
    }

}
    
@media screen and (max-width: 991px) {
    h5{
        font-size: 16px;
    }
    .btn {
        font-size: 12px;
    }
    header .bg-dark {
        padding: 0.5em 1em;
    }
    
    .navbar-collapse.collapse:not(.show) {
        display: block;
    }

    .navbar-collapse {
        position: fixed;
        top: 0;
        left: 0;
        background: #f9f9f9;
        width: 300px;
        height: 100vh;
        z-index: 9999;
        padding: 0px;
        transform: translateX(-320px);
        transition: 0.5s ease-in-out;
        display: block;
        box-shadow: 0 10px 20px 0px rgb(0 0 0 / 8%);
        -webkit-box-shadow: 0 10px 20px 0px rgb(0 0 0 / 8%);
        -moz-box-shadow: 0 10px 20px 0px rgb(0 0 0 / 8%);
    }

    .navbar-collapse.show {
        transform: translateX(0px);
    }

    .nav-overlay {
        position: absolute;
        background: #0000007d;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 2;
        transform: translateX(-100vw);
        transition: 0.5s ease-in-out;
        display: block;
    }

    .nav-overlay.active {
        transform: translateX(0);
    }
    .navbar-nav .dropdown-menu, .dropdown-menu li:first-child a, .dropdown-menu li:last-child a {
        border-radius: 0;
    }

    .navbar-nav{
        align-items: unset !important;
        padding-top: 60px;
    }
    .close-menu{
        position: absolute;
        right: 20px;
        top: 20px;
        width: 20px;
        height: 20px;
    }
    .close-menu img{
        width: 100%;
    }
    header .nav-link{
        padding: 10px 15px;
        position: relative;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    .navbar-nav .dropdown-menu{
        border: none;
        transition: 0.5s;
    }
    .dropdown-item{
        padding: 10px 25px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    header .nav-link.pt-0 {
        padding: 5px 15px !important;
    }
    header span.time {
        margin-top: 5px;
        padding: 0 15px;
    }
    .dropdown-toggle::after{
        position: absolute;
        right: 10px;
        top: 20px;
    }
    .border-none{
        border: none !important;
    }
    .navbar-toggler{
        background: none;
    }
    .navbar-toggler-icon{
        background-image: none;
    }

    select.form-select{
        height: 40px;
    }

    button:last-child {
        width: 375px;
        margin-left: 1em;
        height: 40px;
        background: #0B5AA5;
        color: #fff;
        font-weight: 400;
    }
    .search-bar .col-sm-3 .filter {
        width: 40px;
        height: 40px;
        border-radius: 50px;
        background: #fff;
        border: 1px #0E5293 solid;
    }
    .filter svg path{
        fill: #0B5AA5;
    }
    span.count {
        background: #0b5aa5;
        position: absolute;
        right: 0;
        top: -7px;
        width: 15px;
        height: 15px;
        font-size: 8px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
    }
    .map-s{
        position: static;
    }

    .desktop-hidden{
        display: block;
    }
    .mobile-hidden{
        display: none !important;
    }
    .project .row:first-child{
        flex-direction: column-reverse;
    }
    .swiper-button-next,
    .swiper-button-prev, .swiper-pagination-bullets.swiper-pagination-horizontal {
        opacity: 1;
    }
    .mobile-filter {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        background: #ffffff;
        z-index: 999;
        width: 100%;
        padding:60px 15px 25px 15px;
        border-radius: 15px 15px 0 0;
       box-shadow: 0 10px 20px 0px rgb(0 0 0 / 8%);
        -webkit-box-shadow: 0 10px 20px 0px rgb(0 0 0 / 8%);
        -moz-box-shadow: 0 10px 20px 0px rgb(0 0 0 / 8%);
        transform: translateY(100%);
        transition: 0.5s ease-in-out;
    }
    .mobile-filter.show-filter {
        transform: translateX(0px);
    }
    .mobile-filter button:last-child{
        border: 1px solid rgba(0, 0, 0, 0.2);
        background: #fff;
        color: #000;
        width: auto;
        margin-left: 0;
    }
    .mobile-filter .filter svg path{
        fill: #000;
    }
    .close_btn{
        position: absolute;
        right: 20px;
        top: 20px;
        width: 15px;
        height: 15px;
    }
    /* .sticky{
        height: 100%;
    } */
    

}

/* Hover dropdowns on desktop only */
@media (min-width: 992px) {
    .navbar .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
    }
}